//Color
//Primary
$Orange: hsl(26, 100%, 55%);
$Pale_orange: hsl(25, 100%, 94%);

//Neutral
$Very_dark_blue: hsl(220, 13%, 13%);
$Dark_grayish_blue: hsl(219, 9%, 45%);
$Grayish_blue: hsl(220, 14%, 75%);
$Light_grayish_blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
//with 75% opacity for lightbox background
$Black: hsl(0, 0%, 0%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
}

body {
  font-size: 16px;
}

.container {
  padding: 0 20px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  height: 100vh;
  background: $White;
}

.light-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 10000;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .contain-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }

  .contain-product .product__gallery .product_gallery_main__image .next{
    right: -25px;
  }

  .contain-product .product__gallery .product_gallery_main__image .previous{
    left: -25px;
  }

  .contain-product .product__gallery .product_gallery_main__image #mobile,
  .contain-product .product__gallery #mobile{
    display: flex;
  }
}

.light-box.active{
  visibility: visible;
}

@media only screen and (min-width: 780px) {
  .container {
    max-width: 1580px;
    margin: 0 auto;
    padding: 0;
  }

  section {
    width: 30%;
  }

  #mobile {
    display: none;
  }
}
